*{
   box-sizing: border-box;
}

  body{
      margin: 0;
}
 
  .flex-container{
                   height: 600px;
                   width: 1367px;
                   border: 1px solid black;
                   display: flex;
                   flex-direction: row;
                   flex-wrap: wrap;
                   align-content: flex-start;

  }

  .box{
        width: 195px;
        height: 200px;
        border: 1px solid rgb(0, 0, 0); 

  }